.canvas {
	background: lightgrey;
	position: absolute;
	left: 0px;
	top: 0px;
}

.canvas rect {
	fill: lightblue;
	stroke-width: 2;
	stroke: black
}

.rectText {
	fill: white;
	font: 10px sans-serif;
	text-anchor: middle;
}

.titleText {
	fill: white;
	font: 30px sans-serif;
	text-anchor: middle;
	font-weight: bolder;
	stroke: black;
	stroke-width: 1px;
}

.col1 rect {
	fill: darkblue;
	stroke-width: 2;
	stroke: black;
}

.col1 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}

.col2 rect {
	fill: grey;
	stroke-width: 2;
	stroke: black;
}

.col2 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}
.col3 rect {
	fill: black;
	stroke-width: 2;
	stroke: black;
}

.col3 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}

.title {
	fill: orange;
	font: 20px sans-serif;
	text-anchor: middle;
}
