.canvas {
	background: #f1f2d8;
	position: absolute;
	left: 0px;
	top: 0px;
}

.canvas rect {
	fill: lightblue;
	stroke-width: 2;
	stroke: black
}

.rectText {
	fill: #1b1d26;
	font: 10px sans-serif;
	text-anchor: middle;
}

.titleText {
	fill: charcoal;
	font: 30px sans-serif;
	text-anchor: middle;
	font-weight: 500;
}

.col1 rect {
	fill: #425955;
	stroke-width: 2;
	stroke: black;
}

.col1 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}

.col2 rect {
	fill: #a6a48a;
	stroke-width: 2;
	stroke: black;
}

.col2 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}
.col3 rect {
	fill: #778c7a;
	stroke-width: 2;
	stroke: black;
}

.col3 text {
	fill: white;
	font: 14px sans-serif;
	text-anchor: start;
	opacity: 1;
}
