{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='toServer.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='highlight.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styling.css') }}">
<h1>Choice Explorer</h1>
<svg class="canvas">
{% endblock %}
